#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
#if($viewField)
    <input class="text" id="$customField.id" name="$customField.id" type="text" value="$textutils.htmlEncode($!value)" required placeholder=""
                                                                                                                                 oninvalid="this.setCustomValidity('Cant leave money empty.')"
                                                                                                                                 oninput="setCustomValidity('')"/>
#else
<input class="text" id="$customField.id" name="$customField.id" type="text" value="1.00" readonly />
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
#end